body {
  padding: 25%;
  background-color: #fff9e4;
}
.center-div {
  margin: 0 auto;
  max-width: 700px;
}

.logo {
  fill: none;
  padding-left: 2vw;
  stroke: blue;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.intro {
  padding-top: 5vw;
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  text-align: center;
  font-family: 'Frank Ruhl Libre';
  font-size: 2vw;
  font-weight: 400;
  color: #676767;
}

h2 {
  text-align: center;
  padding: 3vw;
  font-family: 'Barlow';
  text-transform: uppercase;
  font-size: 1.3vw;
  letter-spacing: .25em;
  opacity: .7;
  font-weight: 500;
}

h1 a {
  text-decoration: none;
  color: blue;
  font-weight: 700;
  font-family: 'Barlow';
  font-size: 1.9vw;
  letter-spacing: .02em;
}

h1 a:hover {
  text-decoration: underline;
  color: blue;
  font-weight: 700;
  font-family: 'Barlow';
  font-size: 1.9vw;
  letter-spacing: .02em;
}

.paragraphs {
  padding: 1vw;
  margin: 0 auto;
  max-width: 700px;
}
p {
  font-family: 'Barlow';
  font-size: 1.5vw;
  line-height: 1.5em;
  color: #676767;
}

p:first-child:first-letter {
  color: blue;
  float: left;
  font-family: 'Frank Ruhl Libre';
  font-size: 70px;
  line-height: 58px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

hr {
  max-width: 700px;
  background-color: blue;
  height: .5vw;
  margin-top: 3vw;

}

.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 5vw;
}

.footer-left a {
  text-decoration: none;
  position: absolute;
  left: 0;
  margin: 0 auto;
  width: 15%;
  height: 5vw;
  display: inline-block;
  padding: 0px;
}

.footer-right a {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  right: 0;
  width: 15%;
  height: 5vw;
  padding: 0px;
  text-decoration: none;
}

.footer-right, .footer-left, a:hover {
color: #888;
}

#footer-type{
  margin: 0;
  padding: 0;
  font-size: 1vw;
  color: blue;
  font-weight: 600;
}
/* MOBILE STYLING */

@media only screen and (max-width: 700px) {
    body {
        padding: 15%;
    }

    h1 {
      font-size: 3vw;
    }

    h1 a {
      font-size: 2.8vw;
    }

    h1 a:hover {
      font-size: 2.8vw;
    }

    .paragraphs {
      padding: 2vw;
    }
    p {
      font-size: 2vw;
      line-height: 1.5em;
    }

    p:first-child:first-letter {
      color: blue;
      float: left;
      font-family: 'Frank Ruhl Libre';
      font-size: 10vw;
      line-height: 8vw;
    }

    hr {
      height: .5vw;
      margin-top: 5vw;

    }

    #footer-type{
      font-size: 1.5vw;
    }
}

/* ANIMATION EFFECTS */

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.wobble:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
